*
!pyproject.toml
!setup.py
!README.md
!CMakeLists.txt
!MANIFEST.in
!src/piper/**
!build_monotonic_align.sh
!Dockerfile.train
!script/s3_sync.sh

!script/setup
!script/dev_build
!script/package
!docker/entrypoint.sh
